<h2>Appointments</h2>
<%= form_for @appointment, remote: true do |f| %>
  <%= f.text_field :title %>
  <%= f.text_field :appt_time %>
  <%= f.submit 'Make appointment' %>
<% end %>
<div id='appointments'>
  <%= render 'appointments' %>
</div>
